.root {
  -fx-font-size: 10.0pt;
  -fx-font-family: "Meiryo";
}

/* 操作モード変更ラジオボタン {{{*/
.radio-button {
  -fx-background-radius: 4.0;
}

.radio-button:selected,
.radio-button:hover {
  -fx-background-color: -fx-cell-focus-inner-border;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
/*}}}*/
/* 出力画像パネル *//*{{{*/
/* レイヤー透明ボタン *//*{{{*/
#opacity-button {
  -fx-opacity: 0.0;
}

#opacity-button:hover {
  -fx-background-color: -fx-cell-focus-inner-border;
  -fx-opacity: 0.30;
}
/*}}}*/
/* レイヤー番号ラベル *//*{{{*/
#number-label {
  -fx-alignment: center;
  -fx-font-size: 20.0;
  -fx-font-weight: bold;
}
/*}}}*/
/*}}}*/

.list-view .list-cell:filled:hover {
  -fx-background-color: -fx-cell-focus-inner-border, -fx-selection-bar  ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-background: -fx-selection-bar ;
}

.titled-pane .title {
  -fx-font-weight: bold;
}
